@{
    ViewData["Title"] = "Transacciones";
}

<div class="page customers">
    <div class="layout-box">
        <div class="content">
            <h3 class="indent">@(ViewBag.Title.ToUpper())</h3>
            <div class="hb-a">
                <div id="grid"></div>
                <div id="dataGrid"></div>
            </div>
            <div class="hb-4">
                <div class="lb-1">
                    <div id="productsMap" class="indent"></div>
                </div>
                <div class="lb-2">
                    <div id="productsChart"></div>
                </div>
            </div>
        </div>
        <div class="range-content">
            <div class="hb-2">
                <div class="left-arrow" id="prevYear"></div>
                <div id="rangeSelector">
                </div>
                <div class="right-arrow disabled" id="nextYear"></div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>

        //Retreive all the visitors from the database
        function getT() {
            $.get("/api/TransactionApi")
                .done(function (data) {
                    //if (data.length > 0) {
                    //    $('#databaseNames').html($.i18n('database_contents') + JSON.stringify(data));
                    //}

                    $("#dataGrid").dxDataGrid({
                        dataSource: {
                            store: data
                        },
                        showBorders: true,
                        paging: {
                            pageSize: 12
                        },
                        pager: {
                            showPageSizeSelector: true,
                            allowedPageSizes: [8, 12, 20]
                        },
                        columns: [
                            "codigoEntidad",			
                            "centroAltaCuentaTarjeta",
                            "secuenciaTarjeta",		
                            "indicadorNormalCorr",		
                            "tipoFactura",				
                            "descripcionTipoFact",		
                            "fechaFactura",			
                            "noReferenciaFactura",		
                            "panTarjetaOperacion",		
                            "codigoMonedaOperacion",	
                            "importeDivisaOrig",		
                            "importeFactura",			
                            "numeroAutorizacion",		
                            "codigoComercio",			
                            "nombreComercioRedu",		
                            "codigoActividad",			
                            "importeImpuesto",			
                            "fecProcEntOperacion",		
                            "codigoPais",			
                            "poblacionRealizoOper",	
                            "fechaContableOperar",		
                            "origenOperacion",			
                            "tipoFranquicia",			
                            "secuenciaOperFranq",		
                            "numeroSecuenciaMaest",	
                            "fechaLiquidacion",		
                            "indicadorIncidenEst",		
                            "lineaReferenciaMov",		
                            "numeroOperCompraCuot",	
                            "numeroTotalCuotas",		
                            "importeCuota",			
                            "codigoTipoCompraCuot",	
                            "porcentajeInteresApl",	
                            "indicadorMoviExtracto",	
                            "indicadorMoviRetenido",	
                            "indicadorDbCr",			
                            "formaPagoOperacion",		
                            "numeroExtracto",			
                            "importeAmortParaCred",	
                            "tasaEfectivaAnual",		
                            "cargosAbonosPeriodo",		
                            "valorPendienteDiferir",	
                            "numeroCuotasFact",		
                            "cuotasPendientes",		
                            "indicadorDeMovimiento",	
                            "fechaProceso",			
                            "contratos"				

                        ]
                    }).dxDataGrid("instance");

                });
        }
        getT();
    </script>
}